@charset "UTF-8";

html {
    font-size: 62.5%;
}

body {
    font-family: "Zen Maru Gothic", sans-serif;
    background-color: #fff;
    font-size: 16px;
    padding: 40px;
}

.header {
    padding: 20px 40px;
    background: #fff;
    margin-bottom: 15px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
}

.header .logo h1 {
    font-size: 24px;
    font-weight: 400;
    margin: 0;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 0;
}

.header-btn {
    display: flex;
    gap: 5px;
    padding-right: 55px;
}

.header-btn a {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
}

.btn-reserve {
    background: #E75480;  
    color: #fff;
    text-align: center;
    width: 100px;
    padding:10px 10px;
    border-radius: 16px;
}

.btn-contact {
    background: #E6E6FA;   
    color: #333;
    text-align: center;
    width: 100px;
    padding:10px 10px;
    border-radius: 16px;
    gap: 12px;
}

.header-nav {
    margin-top:  10px;
    margin-bottom: 40px;
}

.header-nav ul {
    display: flex;
    justify-self: center;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 80px;
}

.header-nav ul li a {
    display: block;
    width: 100px;            
    padding: 16px 24px;
    border-radius: 16px;
    background-color: #FFF0F5;
    color: #333;
    font-size: 12px;
    text-decoration: none;
    text-align: center; 
    white-space: nowrap;       
}

.header-nav ul li a.active {
    background-color: #FFB7C5;
    color: #fff;
    
}

.hero {
    padding: 40px;
}

.hero-title {
    display:flex;
    font-size: 20px;
    font-weight: 700;
    padding-left: 60px;
    padding-bottom: 40px;
}

.img-box {
    text-align: center;
}


.reception-img {
    max-width: 80%;
    border-radius: 36px;
}

.about-text {
    text-align: left;
    line-height: 1.8;
    margin: 0 auto;
    width: 60%;
    padding: 40px;
}

.feature-title {
    display:flex;
    font-size: 20px;
    font-weight: 700;
    padding-left: 60px;
    padding-bottom: 20px;
}

.clinic-features {
    background-color: #FFF0F5;
    padding: 40px;
}
.features {
    display: flex;
    justify-content: space-around;
    align-items: center; 
    text-align: center;
    margin: 40px 40px; 
}

.feature-item img {
    display: block;           
    margin: 0 auto 20px;     
    height: auto;
}

.feature-icon1 {
    width: 120px;
    height: auto;;
}

.feature-icon2 {
    width: 210px;
    height: auto;
}

.feature-icon3 {
    width: 160px;
    height: auto;
}

.introduce-title {
    display:flex;
    font-size: 20px;
    font-weight: 700;
    padding: 40px 40px 40px 100px;
}

.introduce-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 800px; 
    margin: 0 auto;
    gap: 60px;
}

.introduce-item{
    text-align: center;
    justify-content: center;
} 

.introduce-item img{
    display: block;
    width: 100%;
    height: 250px;
    border-radius: 36px;
    object-fit: cover;
}

.introduce-item p{
    margin-top: 20px;
}

.site-footer {
    text-align: center;
    padding: 40px;
}
