@charset "UTF-8";

.access-title {
    display:flex;
    font-size: 20px;
    font-weight: 700;
    padding-left: 180px;
    padding-bottom: 40px;
}

.access__map{
    width: 100%;       
    max-width: 1080px;  
    margin: 0 auto;    
    border-radius: 36px; 
    overflow: hidden;
    margin-bottom: 40px;       
}

.access__map .iframe{
    width: 100%;
    height: auto;
    border-radius: 24px;
}

.access-info__location{
    display: flex;
    text-align: left;
    padding-left: 180px;
    line-height: 2.8;
    padding-bottom: 20px;
}

.access-info__parking {
    display: flex;
    text-align: left;
    padding-left: 180px;
    line-height: 2.8;
    padding-bottom: 40px;
}

.access__schedule {
    background-color: #FFF0F5;
    padding: 40px; 
}

.schedule-title {
    display:flex;
    font-size: 20px;
    font-weight: 700;
    padding-left: 150px;
    padding-bottom: 40px;
}

.access__schedule {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 40px;
}

.schedule-table {
    width: 65%;
    border-collapse: collapse; 
    text-align: center;
    padding-left: 20px;
    margin: 0 0 40px 150px;
}

.schedule-table th,
.schedule-table td {
    border: 1px solid #333; 
    padding: 20px;
}

.schedule-note {
    line-height: 1.8;
    padding-left: 150px;
}

.site-footer {
    text-align: center;
    padding: 20px;
}