@charset "UTF-8";

html {
    font-size: 62.5%;
}

body {
    font-family: "Zen Maru Gothic", sans-serif;
    background-color: #fff;
    font-size: 16px;
    padding: 40px;
}

.header {
    padding: 20px 40px;
    background: #fff;
    margin-bottom: 15px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
}

.header .logo h1 {
    font-size: 24px;
    font-weight: 400;
    margin: 0;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 0;
}

.header-btn {
    display: flex;
    gap: 10px;
    padding-right: 55px;
}

.header-btn a {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
}

.btn-reserve {
    background: #E75480;  
    color: #fff;
    text-align: center;
    width: 100px;
    padding:10px 10px;
    border-radius: 16px;
}

.btn-contact {
    background: #E6E6FA;   
    color: #333;
    text-align: center;
    width: 100px;
    padding:10px 10px;
    border-radius: 16px;
    gap: 12px;
}

.header-nav {
    margin-top:  10px;
    margin-bottom: 40px;
}

.header-nav ul {
    display: flex;
    justify-self: center;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 80px;
}

.header-nav ul li a {
    display: block;
    width: 100px;            
    padding: 16px 24px;
    border-radius: 16px;
    background-color: #FFF0F5;
    color: #333;
    font-size: 12px;
    text-decoration: none;
    text-align: center; 
    white-space: nowrap;       
}

.header-nav ul li a.active {
    background-color: #FFB7C5;
    color: #fff;

}

.access-title {
    display:flex;
    font-size: 20px;
    font-weight: 700;
    padding-left: 150px;
    padding-bottom: 40px;
}

.access__map{
    width: 100%;       
    max-width: 1080px;  
    margin: 0 auto;    
    border-radius: 36px; 
    overflow: hidden;
    margin-bottom: 40px;       
}

.access__map .iframe{
    width: 100%;
    height: auto;
    border-radius: 24px;
}

.access-info__location{
    display: flex;
    text-align: left;
    padding-left: 150px;
    line-height: 2.8;
    padding-bottom: 20px;
}

.access-info__parking {
    display: flex;
    text-align: left;
    padding-left: 150px;
    line-height: 2.8;
    padding-bottom: 40px;
}

.access__schedule {
    background-color: #FFF0F5;
    padding: 40px; 
}

.schedule-title {
    display:flex;
    font-size: 20px;
    font-weight: 700;
    padding-left: 150px;
    padding-bottom: 40px;
}

.access__schedule {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 40px;
}

.schedule-table {
    width: 65%;
    border-collapse: collapse; 
    text-align: center;
    padding-left: 20px;
    margin: 0 0 40px 150px;
}

.schedule-table th,
.schedule-table td {
    border: 1px solid #333; 
    padding: 20px;
}

.schedule-note {
    line-height: 1.8;
    padding-left: 150px;
}

.site-footer {
    text-align: center;
    padding: 20px;
}