@charset "UTF-8";

.header {
    background-color: #FFDEE5 !important;
}

body{
    background-color:#FFDEE5 !important ;
}

.doctors {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.doctors-title {
    display: flex;
    font-size: 20px;
    font-weight: 700;
    padding-left: 80px;
    padding-bottom: 20px;
}

.doctor-card-1,
.doctor-card-3{  
    display: flex;              
    gap: 40px;
    align-items: flex-start;
    padding-left: 80px;
}

.doctor-card-2 {
    margin-left: auto;          
    display: flex; 
    gap: 40px;             
    align-items: flex-start; 
    flex-direction: row-reverse;   
    padding-right: 60px;    
}

.doctor-photo-1,
.doctor-photo-3 {
    width: 500px;
    height: auto;
    border-radius: 36px;
}

.doctor-photo-2 {
    width: 500px;
    height: auto;
    border-radius: 36px;
    margin-left: auto;
    align-items: flex-start;
}

.doctor-info {
    padding-bottom: 60px;
}

.doctor-name {
    display: flex;
    font-size: 20px ;
    font-weight: 700;
    padding-left: 40px;
    padding-bottom: 60px;
}

.doctor-name-2 {
    display: flex;
    font-size: 20px ;
    font-weight: 700;
    padding-bottom: 60px;
}

.doctor-specialty,
.doctor-career,
.doctor-message {
    display: flex;
    padding-left: 40px;
    padding-bottom: 60px;
    font-size: 18px;
    line-height: 1.8;
}

.doctor-specialty-2,
.doctor-career-2,
.doctor-message-2 {
    display: flex;
    padding-bottom: 60px;
    font-size: 18px;
    line-height: 1.8;
}


.site-footer {
    text-align: center;
    padding: 40px;
}