@charset "UTF-8";

.hero-intro {
    display: block;
    text-align: center;
    padding-bottom: 40px;
}

.hero-title {
    display:block;
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 40px;
}
.hero p {
    font-size: 18px;
    line-height: 1.8;
}

.medical {
    text-align: center;
    padding-bottom: 60px;
}

.medical-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
    max-width: 950px;
    margin: 0 auto;
}

.card-title {
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.card p {
    line-height: 1.8;
}

.card {
    background-color: #FFF0F5;
    border-radius: 36px;
    text-align: left;
    padding: 40px 40px;
    justify-content: center;
    align-items: center;
}

.faq {
    background-color: #FFB7C5;
    padding: 40px 40px;
    text-align: center;

}

.faq-title {
    font-size: 20px;
    text-align: center;
    padding-bottom: 40px;
}

.faq details {
    margin-bottom: 10px;
}
.faq details p {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;

}

.faq details[open] p {
    max-height: 200px; 
}

.faq details[open] summary::after {
    transform: rotate(180deg);
}


.faq p {
    background-color:#FFF0F5 ;
    border-radius: 0 0 24px 24px;
    width: 600px;
    padding: 20px 20px;
    margin: 0 auto 20px;
    text-align: left;
}

.faq summary {
    position: relative;
    display: block; 
    background-color: #fff;
    border-radius: 24px 24px 0 0;
    width: 600px;
    padding: 20px;
    margin: 0 auto;
    list-style: none;
    text-align: left;
    cursor: pointer;
}

.faq summary::after {
    content: "▼";
    color: #FFB7C5; 
    position: absolute;
    right: 20px;
    transition: transform 0.3s ease;
}


.site-footer {
    text-align: center;
    padding: 40px;
}
