@charset "UTF-8";

.news {
    background-color: #FFDEE5;
    border-radius: 36px;
    padding: 40px; 
    max-width: 900px;
    margin: 0 auto 50px;  
}

.news-top {
    font-size: 20px;
    font-weight: 700;
    padding-left: 80px;
    padding: 40px;
    text-align: center;
}
.top-text {
    text-align: center;
    padding-bottom: 40px;
}

.news-item {
    padding: 30px 0;
    border-bottom: 1px solid #333;
    width: 90%;
    margin: 0 auto;
}

.news-item:last-child {
    border-bottom: none; 
}

.news-content-wrap {
    background-color: #fff;
    border-radius: 36px;
    max-width: 800px;
    margin: 0 auto 50px;
}

.news-date {
    padding-left: 10px;
    padding-bottom: 20px;
}

.news-content {
    padding-left: 10px;
    line-height: 1.8;
}

.site-footer {
    text-align: center;
    padding: 40px;
}